/serverConfiguration/serverLogs/
/serverConfiguration/includes/
/.vagrant/
sessionLogin.php
RoomReservationWishlist2014.docx
/sqlFiles/roomReservations.sql
sqlFiles/roomResNew.sql
sqlFiles/.DS_Store
.DS_Store